<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Üdvözöljük</title>
  <link rel="stylesheet" href="/public/main.css">
</head>
<body>
  <h1>Üdvözöljük a Szabadság Igénylő Felületen</h1>
  
</body>
</html>
