<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Sikeres igénylés</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/main.css">


</head>
<body>
  <div class="container mt-5">
    <div class="alert alert-success">
      <strong>Siker!</strong> A szabadság igénylés sikeresen leadva.
    </div>
    <a href="/vacation/request" class="btn btn-primary">Új igénylés leadása</a>
  </div>
</body>
</html>